

.top_show {font-size: 24px;vertical-align: middle; cursor: pointer; margin-left: 10px}
.panel_left {position: fixed; width:240px; height: 100%; background-color: #2b323a; top: 65px; z-index: 1000}
.panel_right {position: relative; width:100%; height: 100%; padding: 10px 10px 10px 250px; margin-top: 65px; z-index: 999}

.left_hover { width: 240px!important;;
             transition-property: width;
             transition-duration:0.3s;
             transition-timing-function:ease;}
.left_unHover { width: 60px;
             transition-property: width;
             transition-duration:0.3s;
             transition-timing-function:ease;}
.left_hover_right { padding: 10px 10px 10px 250px!important;;
             transition-property: width;
             transition-duration:0.5s;
             transition-timing-function:ease;}

.left_unHover_right { padding: 10px 10px 10px 70px;
             transition-property: width;
             transition-duration:0.5s;
             transition-timing-function:ease;}

/*小于1180*/
@media screen and (max-width: 1180px){
    /*.top_show { display: -webkit-inline-box;}*/
    .panel_left {width:60px;}
    .panel_right { color: red; padding: 10px 10px 10px 70px; }
}
    