
	.img_logo {width:260px; height:108px; margin:80px auto 60px auto}
	.img_logo img {width:260px; height:108px;}
		
	.content_action {width:462px; margin:0 auto; background-color:#fff}
	.content_action .tab li {float:left; width:231px; height:60px; line-height:60px; background-color:#ecf0e5; color:#797979; text-align:center; font-size:16px; font-weight:bold; cursor:pointer}
	.content_action .tab .choose { background-color:#417851; color:#fff}

    .error_login {width:380px; height:36px; height:36px; line-height:36px; margin-top:20px; background-color:#ecf0e5; padding:0 10px; color:#000}
    .regist {display: block}
    .input_text {outline:none; border:1px solid #e3e3e3; width:380px; height:36px; line-height:36px; padding:0 10px}
    .margin-t { margin-top: 22px}

    .regist .regist_step_one {display: block}
    .regist .regist_step_one .input_content {padding:60px 41px 13px 41px;}
    .regist .regist_step_one .input_content .verification {margin-top:22px}
    .regist .regist_step_one .input_content .verification .verification_input {outline:none; border:1px solid #e3e3e3; width:240px; height:36px; line-height:36px; padding:0 10px; float:left}
    .regist .regist_step_one .input_content .verification .get_verification {width:120px; height:36px; line-height:36px; margin-left:20px; background-color:#73b120; color:#fff; float:left; text-align:center;cursor:pointer}
    .regist .regist_step_one .input_content .verification .disget_verification {background-color: #e3e3e3; color: #fff}
    .regist .regist_step_one .action_btn {margin-top:25px; height:38px; border-top:1px solid #e3e3e3; text-align:right}
	  .regist .regist_step_one .action_btn .sure_regist {float:right; width:120px; height:36px; line-height:36px; text-align:center; background-color:#73b120; color:#fff; font-size:16px; letter-spacing:1px; cursor:pointer}

    .regist .regist_step_two {display: none}
    .regist .regist_step_two .input_content {padding:60px 41px 13px 41px;}
    .regist .regist_step_two .input_content .select_language {margin-top: 20px}
    .regist .regist_step_two .action_btn {margin-top:25px; height:38px; border-top:1px solid #e3e3e3; text-align:right}
    .regist .regist_step_two .action_btn .filish_regist {float:right; width:120px; height:36px; line-height:36px; text-align:center; background-color:#73b120; color:#fff; font-size:16px; letter-spacing:1px; border-top:1px solid #e3e3e3; cursor:pointer}
    .regist .regist_step_two .action_btn .cancel_regist {float:right; width:120px; height:36px; line-height:36px; text-align:center; color:#fff; font-size:16px; color:#81b84a; letter-spacing:8px; cursor:pointer}

    .login {display: none}
    .login .input_content {padding:60px 41px 13px 41px;}
    .login .action_btn {margin-top:25px; height:38px; border-top:1px solid #e3e3e3; text-align:right}
    .login .action_btn .sure_login {float:right; width:120px; height:36px; line-height:36px; text-align:center; background-color:#73b120; color:#fff; font-size:16px; letter-spacing:8px; border-top:1px solid #e3e3e3; cursor:pointer}
    .login .action_btn .cancel_login {float:right; width:120px; height:36px; line-height:36px; text-align:center; color:#fff; font-size:16px; color:#81b84a; letter-spacing:8px; cursor:pointer}