
	/** 清除内外边距 **/
	body, h1, h2, h3, h4, h5, h6, hr, p,span, blockquote, /* structural elements 结构元素 */
	dl, dt, dd, ul, ol, li, 
	pre, 
	form, fieldset, legend, button, input, textarea, 
	th, td {margin: 0;padding: 0; word-break:break-all; word-wrap:break-word; box-sizing: border-box;}

	li {list-style-type:none}
	
	.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
	}


	body { min-width: 1180px; height: 100%; background-color: #f9f9f9; font-family: 'Microsoft Yahei', '微软雅黑',Arial, Helvetica, STHeiti,arial,sans-serif;font-size: 14px; color:#313534}
	
	.shallow_fonts_color { color:#969c9c}
	.deep_fonts_color { color:#20252B}
	.error_fonts { color:#F44336}
	.ing_fonts {color:#0AA89E}
	.complete_fonts {color:#4CAF50}
	
	
	
	
	.header_top { position:fixed; top:0; height:65px; width:100%; background-color:#fff;    box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888; -moz-box-shadow: 0 0 5px #888; z-index:1000}
	.header_top .header_top_content {line-height:65px}
	.header_top .header_top_content .header_logo {width:100px; height:38px; margin-left:45px;vertical-align: middle;}
	.header_top .header_top_content .right_action {float:right; margin-right:38px}
	.header_top .header_top_content .right_action i {vertical-align: middle; font-size: 1.5rem;}
	
